.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #2575fc;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; /* 🔹 Evita que o padding faça o elemento ultrapassar 100% */
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.header .nav-links {
  display: flex;
  gap: 15px;
}

.header .nav-links button {
  background: white;
  color: #3498db;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.header .nav-links .register-btn {
  background: #f1c40f;
  color: black;
}

.header .nav-links button:hover {
  opacity: 0.8;
}

.header .user-menu {
  position: relative;
}

.header .user-btn {
  background: white;
  color: #3498db;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header .dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  flex-direction: column;
  width: 100%;
}

.header .user-menu:hover .dropdown {
  display: flex;
}

.header .dropdown button {
  background: none;
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.header .dropdown button:hover {
  background: #f1f1f1;
}
