/* .play-quiz-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  } */

  .play-quiz-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 80px; /* 🔹 Adiciona espaçamento abaixo do header */
  }

  
  .question {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .answers-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .answer-card {
    padding: 15px;
    font-size: 24px;
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .answer-card:hover {
    background: #ddd;
  }
  
  .correct {
    background: #28a745 !important; /* Verde */
    color: white;
  }
  
  .wrong {
    background: #dc3545 !important; /* Vermelho */
    color: white;
  }
  
  .results {
    font-size: 24px;
  }
  
  .button-again {
    padding: 10px 20px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .button-again:hover {
    background: #0056b3;
  }


  .ranking-table {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .ranking-table th,
  .ranking-table td {
    padding: 12px 16px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .ranking-table th {
    background-color: #333;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .ranking-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .ranking-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  